<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- Folder to save log files. You can use relative path like "logs", which
    will save to folder under running application, or you can use absolute path
    like C:/logs on windows, or /usr/home/course/logs for mac/linux -->
<property name="log_home" value="logs" />

<!-- The log pattern, this will set format for output log. For detail explanation,
    check https://logback.qos.ch/manual/layouts.html -->
<property name="log_pattern"
          value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger{40} - %msg%n" />

<!-- Append to file named spring5.log, generated daily (file from
    previous day will be renamed as spring5.[date].log. -->
<appender name="rollingFileAppender"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_home}/spring5.log</file>
    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${log_home}/spring5.%d{yyyy-MM-dd}.%i.log
        </fileNamePattern>

        <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>5MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
        <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
        <charset>UTF-8</charset>
        <pattern>${log_pattern}</pattern>
    </encoder>
</appender>

<!-- append to console -->
<appender name="consoleAppender"
          class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>
            ${log_pattern}
        </pattern>
    </layout>
</appender>

<!-- append everything under package com.learning.spring.spring5 on level INFO, WARN, ERROR.
    Log to console appender AND file appender -->
<logger name="com.learning.spring.spring5" level="info" additivity="false">
    <appender-ref ref="consoleAppender" />
    <appender-ref ref="rollingFileAppender" />
</logger>

</configuration>